.env
object_model.pdf
.ipynb_checkpoints
goal.txt
git_shortcut.txt
/2018_dataset/spotify_dataset_artist.csv
/2018_dataset/spotify_dataset_artist(2).csv
/2018_dataset/spotify_dataset_genres.csv
/2018_dataset/spotify_dataset.csv
/2020_dataset/data
/2020_dataset/sqlite.ipynb
/2020_dataset/data.sql
/2020_dataset/data_by_year.csv
/2020_dataset/data.csv
/demo_dataset
/top_100_artists_dataset/artists_df.csv
/top_100_artists_dataset/artists_ex_df.csv
/top_100_artists_dataset/genres_df.csv
/top_100_artists_dataset/timeline_df.csv
/top_100_artists_dataset/tracks_df.csv